$main-color: rgb(239, 255, 192);
$dark-color: rgb(41, 92, 107);
$light-color: white;
$p-5: 50px;
//fonts
$main-font: "Roboto", sans-serif;
$secondary-font: "Roboto Slab", serif;
//maps
$colores: (
  primary: rgb(29, 29, 158),
  danger: rgb(142, 27, 27),
  warning: rgb(255, 98, 0),
  dark: black,
  light: white,
  success: rgb(13, 112, 13),
  info: gray,
  secondary: rgb(167, 9, 167),
  terciary: rgb(255, 53, 103)
);
