$temporada: invierno;

// variables
$w-main-color: rgb(26, 12, 94);
$w-second-color: rgb(113, 203, 233);

.hero {
  padding: 30px;
  // background-color: $dark-color;
  transition: 0.5s;
  min-height: 100vh;
  display: grid;
  place-content: center;

  @if $temporada == invierno {
    background-color: $w-main-color;
    color: $w-second-color;
  } @else if $temporada == navidad {
    background-color: rgb(19, 103, 19);
    color: red;
  } @else {
    background-color: $dark-color;
    color: $main-color;
  }

  h2 {
    text-align: center;
    transition: 0.5s;
  }
}

//bucle for
@for $variable from 1 through 5 {
  .p-#{$variable} {
    padding: $variable * 10px;
  }

  .m-#{$variable} {
    margin: $variable * 10px;
  }

  .display-#{$variable} {
    font-size: 60px / $variable;
  }
}

@for $variable from 1 through 12 {
  .col-#{$variable} {
    width: $variable * 10%;
  }
}



//bucle each
@each $key, $valor in $colores {
  .btn-#{$key} {
    background-color: $valor;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.4s;

    @if $key == light {
      color: black;
      border-color: darken($valor, 40%);
      &:hover {
        background-color: darken($valor, 20%);
        border-color: $valor;
        box-shadow: 0px 0px 15px darken($valor, 10%);
      }
    } @else {
      color: white;
      border-color: lighten($valor, 10%);

      &:hover {
        background-color: lighten($valor, 10%);
        border-color: $valor;
        box-shadow: 0px 0px 15px lighten($valor, 10%);
        color: darken($valor, 20%);
        padding: 20px;
      }
    }
  }

  .bg-#{$key} {
    background-color: $valor;
  }

  .text-#{$key} {
    color: $valor;
  }
}



.btn-container {
  // @extend .flex;
  // @include flex;
  @include flex-p(row, center, space-around, 30px);
  flex-wrap: wrap;

  a {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 10px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

.container {
  @include flex-p(column, center, center, 10px);
}

img {
  @include imagenes(300px, 500px, contain);
}

.slider img {
  @include imagenes(100%, 100%, cover);
}

.product img {
  @include imagenes(100%, 300px, contain);
}
